.weather-info-status-image {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--weather-visual-image-width);
  height: 60px;

  &__icon {
    transform: scale(1.5);
  }
}