.weather-app-settings {
  display: flex;
  flex-direction: column;
  gap: var(--card-main-inner-gap);
  padding: var(--card-paddings);
  background-color: var(--card-background-color);
  width: var(--card-width);
  min-width: var(--card-width);
  min-height: var(--card-height);
  border-radius: var(--card-border-radius);

  &__location-list {
    display: grid;
    gap: 5px;
  }

  &__search {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--card-main-inner-gap);
    align-items: center;
  }

  &__search-input {
    border: var(--input-border-style);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
  }
}